[submodule "include/abraham-twitteroauth"]
	path = include/abraham-twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "include/bulletphp"]
	path = include/bulletphp
	url = https://github.com/vlucas/bulletphp.git
[submodule "include/animate.css"]
	path = include/animate.css
	url = https://github.com/daneden/animate.css.git
[submodule "include/jQuery-switchButton"]
	path = include/jQuery-switchButton
	url = https://github.com/olance/jQuery-switchButton.git
[submodule "include/animatedModal"]
	path = include/animatedModal
	url = https://github.com/joaopereirawd/animatedModal.js.git
[submodule "include/infinite-scroll"]
	path = include/infinite-scroll
	url = https://github.com/infinite-scroll/infinite-scroll.git
[submodule "include/jscroll"]
	path = include/jscroll
	url = https://github.com/pklauzinski/jscroll.git
