@charset "UTF-8"; 

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background: #ede4d7;
}

a,
a:visited {
    color: #4285F4;
}

a:hover {
	color: #4285F4;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	}

div#headerContainer {
	margin: 0px auto 36px;
	padding: 10% 0 0;
	width: 100%;
	text-align: center;
}

div.description p {
	font-size: small;
	text-align: left;
	display: inline-block;
	padding: 0 10px;
	text-align: justify;
}

div.description {
	margin: 30px auto;
	width: 96%;
	text-align: center;
	border-top: 1px dashed #d1c0a6;
	border-bottom: 1px dashed #d1c0a6;
}

#headerContainer h1 {
	width: 97%;
	margin: 10px auto 0;
	color: #665a47;
	font-size: 1.6em;
}


#headerContainer h1 img{
	max-width: 100%;
}

#headerContainer h1 span{
	display: none;
}

div#topMenuContainer {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 45px;
	height: 45px;
}

#topMenuContainer img{
	max-width: 100%;
}

#topMenuContainer span{
	display: none;
}

div#baseContainer {
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0px);
	background: #ede4d7;
	width: 96%;
	margin: 0 auto;
}

div.tweetContainer {
	margin: 0 auto;
	width: 100%;
}

.tweetContainer div.tw_media img{
	max-width: 100%;
}

.tweetContainer div.tw_body {
	background-color: #fff;
	clear: both;
	margin-bottom: 42px;
	padding: 10px 10px 25px;
	border: 1px solid #E1E8ED;
}

.tweetContainer div.tw_body div.profile_image_url {
	float: left;
}

/*profile画像を角丸に*/
.profile_image_url img {
	border-radius: 5px;
}

.tweetContainer div.tw_body p.user_name {
	margin: 0;
	padding: 15px 0 0 54px;
	font-weight: bold;
	color: #222;
}

.tweetContainer div.tw_body p.tw_text {
	clear: both;
	margin-bottom: 0;
	font-size: 93%;
}

.tweetContainer div.tw_body span.created_at {
	font-size: small;
	float: right;
}

.tweetContainer div.twContents div.tw_body div.rt_user {
	margin-top: 20px;
	margin-left: 20px;
}

.tweetContainer div.tw_body div.rt_profile_image_url {
	float: left;
}

.tweetContainer div.tw_body div.rt_profile_image_url img {
	width: 50%;
	height: 50%;
}

.tweetContainer div.tw_body p.rt_user_name {
	margin: 0;
	padding: 5px 0 0 50px;
	font-size: small;
}

div#footerContainer {
	bottom: 0;
	left: 0;
	width: 96%;
	border-top: 1px solid #fff;
	height: auto;
	overflow: auto;
	clear: both;
	padding: 0;
	margin: 20px auto;
}

div#upperContainer {
	text-align: right;
	margin: 0;
	position: fixed;
	text-decoration: none;
	bottom: 10px;
	color: #fff;
	right: 10px;
	background-color: #ccc;
	padding: 6px 10px;
	border-radius: 21px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

div#upperContainer .arrow {
	color: #fff;
	text-decoration: none;
}

#footerContainer ul {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 0.8em;
}

#footerContainer ul li {
	display: compact;
	list-style: none;
}

#config p.close-configContainer {
	padding: 0;
	margin: 0;
	width: 90%;
	text-align: right;
	font-weight: bold;
	font-size: xx-large;
}

div#configContainer {
	padding-top: 20px;
	padding-left: 20px;
}

#config div.switch-wrapper {
	display: inline-block;
	position: relative;
	top: 6px;
	margin-left: 10px;
}

/*横幅が768px以上（PC）の時*/
@media screen and (min-width: 768px) {
		div#headerContainer {
		margin: 0px auto 36px;
		padding: 2% 0 0;
		width: 100%;
		text-align: center;
	}
    .twContents {
    width: 540px;
    margin: 0 auto;
	}
}