
html {
	background-color: #fffff1;
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
}



div#headerContainer {
background-color: #fffff1;
/*border: 1px solid #666;*/
border-top: 1px solid #666;
border-bottom: 1px solid #666;
height: 5%;
overflow: auto;
margin: 0;
}

#topMenuContainer span {
	margin-right: 20px;
	margin-top: 3px;
}

div#topMenuContainer {
background-color: #fffff1;
margin: 0;
	padding-top: 0;
padding-bottom: 0;
left: 0;
overflow: auto;
}

#topMenuContainer span {
	float: right;
}

div#baseContainer {
	float: left;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0px);
}

div.tweetContainer {
/*	background-color: #fff;*/
	left: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10%;
	overflow: auto;
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	width: 500px;
}

.tweetContainer div.tw_media img{
	width: 98%;
	padding-left: 1%;
}

.tweetContainer div.tw_body {
	background-color: #fff;
	clear: both;
	margin-bottom: 30px;
	padding: 0 10px 10px;
}

.tweetContainer div.tw_body div.profile_image_url {
	float: left;
}

.tweetContainer div.tw_body p.user_name {
	margin: 0;
	padding: 15px 0 0 50px;
}

.tweetContainer div.tw_body p.tw_text {
	clear: both;
	margin-bottom: 0;
}

.tweetContainer div.tw_body span.created_at {
	font-size: small;
	float: right;
}

.tweetContainer div.twContents div.tw_body div.rt_user {
	margin-top: 20px;
	margin-left: 20px;
}

.tweetContainer div.tw_body div.rt_profile_image_url {
	float: left;
}

.tweetContainer div.tw_body div.rt_profile_image_url img {
	width: 50%;
	height: 50%;
}

.tweetContainer div.tw_body p.rt_user_name {
	margin: 0;
	padding: 5px 0 0 50px;
	font-size: small;
}

.tweetContainer div.twContents div.tw_body div.rt_user p.rt_user_name span {
	margin-left: 10px;
}

div#footerContainer {
/*	background-color: #feffda;*/
	bottom: 0;
	left: 0;
	width: 100%;
	border: 1px solid #666;
	height: 15%;
	overflow: auto;
	clear: both;
	padding: 0;
	margin: 0;
}

div#upperContainer {
	text-align: right;
	margin-right: 20px;
	position: absolute;
	bottom: 200px;
	right: 10px;
}

#footerContainer ul {
	display: inline-block;
}

#footerContainer ul li {
	display: compact;
}


#config p.close-configContainer {
	padding: 0;
	margin: 0;
	width: 90%;
	text-align: right;
	font-weight: bold;
	font-size: xx-large;
}

#config p.close-configContainer span {

}

div#configContainer {
	padding-top: 20px;
	padding-left: 20px;
}


div#config {

}

#config div.switch-wrapper {
	display: inline-block;
	position: relative;
	top: 6px;
	margin-left: 10px;
}